:root{
  --fuente-principal:'Bruno Ace', cursive;
}

body{
  font-family: var(--fuente-principal);
}

.container{
  background: #041456;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
}

.titulo__encriptador{
  color: #ffffff;
  font-size: 2rem;
}

main{
  width: 100vw;
  background: #808586;

}

.cajas{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 0 1rem 0;
}

.cajas__contenido{
  display: grid;
}

.cajas__boton{
  width: 6rem;
}

